*{
  background-color: black;
}
.content {
    height: 100%;
  }

  .content h1{
    color: white;
    display: flex;
    justify-content: Center;
  }

  .flex-container {
    display: flexBox;
    color: white;
    border: 3px, white;
  }

  .flex-container div {
    display: flex;
    justify-content: space-between;
  }

  .flex-container p {
    display: block;
  }

  .flex-container h2 {
    display: block;
    background-color: rgb(31, 30, 30);
  }

  .flex-container img {
    display: block;
    margin: 5%;
    height: 30vh;
    width: 30vw;
  }