.content {
    margin-top: 200px;
    background: black;
    height: 100%;
  }

  .content h1{
    color: white;
    display: flex;
    justify-content: center;
  }

  .flex-container {
    display: flexBox;
    color: white;
    border: 3px, white;
  }

  .flex-container div {
    display: flex;
  }

  .flex-container p {
    display: block;
    margin: 1%;
    height: 10%;
    width: 15%;
  }

  .flex-container h2 {
    display: block;
    background-color: rgb(31, 30, 30);
  }

  .flex-container img {
    display: block;
    justify-content: center;
    margin: 5%;
    height: 40%;
    width: 40%;
  }