.header {
  background: black;
  height: 100%;
}

.header h1 {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.header h1:hover {
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

/* trouble getting this to line up in the center */
.header img {
  display: flex;
  justify-content: center;
}

.header .profilePic img {
  height: 10%;
  width: 10%;
}

.header ul {
  display: flex;
  justify-content: center;
  color: white;
}