.Nav {
    display: flex;
    justify-content: center;
    background: black;
    height: 200px;
  }
  
  .Nav div {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
  }

  .Nav div a {
    color: White;
    text-decoration: none;
  }

  .Nav div a:hover {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    text-decoration: none;
  }
  